
    <div class="foot">
        <h3 class="copy-right">Copy Right ©️ </h3>
        <ul>
            <li><a href="https://wa.me/qr/MQLFNEMM7DMSN1"><img src="/whatsapp.png" alt="whatsapp" class="links"></a></li>
            <li><a href="https://instagram.com/madbeast2505?igshid=OGQ5ZDc2ODk2ZA=="><img src="/instagram (1).png" alt="insta" class="links"></a></li>
            <li><a href="https://www.linkedin.com/in/ajay-albert-d-aa8799266?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><img src="/business.png" alt="linked in" class="links"></a></li>
        </ul>
    <div>
